.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  background-color: var(--background-color);
  font-size: 16px;
}

.cards > ul > li > div > ul,
.cards > ul > li > div > p {
  list-style: none;
  text-align: left;
  padding-inline-start: 0;
}

.cards > ul > li > div > ul > li {
  margin-bottom: -15px;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards a:any-link {
  text-transform: uppercase;
  color: #006192;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.cards a::before {
  font-family: Allianz-Icons,sans-serif;
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 8px;
  content: '\e903';
}
